
body{
/*background:#393c41;*/
background:#ffffff;
border: 20px solid #000;
}
.pull{
width: 30%;
margin-left:20px;
margin-top:20px;
    padding: 6px;
    background: #2288ee none repeat scroll 0 0;
    border: 1px solid #0063c9;
    font-size: 14px;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
.form-control
{

    width: 100%;
 max-width:300px;
    padding: 7px;
 border-radius: 9px;
    border: 2px solid #eee;
}
.form-c{
padding: 17px;
 padding-left: 0;
 background:#fff;
 border-radius:9px;
 border: 10px solid #000;
}
label{
font-size:30px;
}
#content{
margin-left:20px;
}
h1{
color:#000;
}
img{
height:100px;
width:353px;
border-radius:9px;
}
#cy{
width: 50%;
margin-left:20px;
font-size:30px;
margin-top:20px;
    padding:30px;
    background: #8c8787 none repeat scroll 0 0;
    border: 1px solid #8c8787;
    border-radius: 9px;
    color: #000;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
#dwn{
width: 50%;
margin-left:20px;
font-size:30px;
margin-top:20px;
    padding:30px;
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
#dwnl{
width: 30%;
margin-left:20px;
font-size:30px;
margin-top:20px;
    padding:30px;
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
.sh{
width: 50%;
margin-left:20px;
margin-top:20px;
    padding: 6px;
    background: #20a61a none repeat scroll 0 0;
    border: 1px solid #20a61a;
    font-size: 14px;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
#shu{
background:#fff;
border-radius:9px;
}
#wrapper-o
{
margin:30px;
}
#o{
width: 30%;
margin-left:20px;
font-size:30px;
margin-top:20px;
    padding:30px;
    background: #8b3e3e none repeat scroll 0 0;
    border: 1px solid #8b3e3e;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}
#r{
width: 30%;
margin-left:20px;
font-size:30px;
margin-top:20px;
    padding:30px;
    background: #938b8b none repeat scroll 0 0;
    border: 1px solid #938b8b;
    border-radius: 9px;
    color: #fff;
    box-shadow: 1px 2px 5px #003;
 min-width: 60px;
 cursor: pointer;
}





/*input[type="radio"]:hover {
    border-color: #c2c2c2;
}

input[type="radio"]:checked{
    background:gray;
}*/
.rd
{
height: 30px;
   width: 30px;
   display: inline-block;
   cursor: pointer;
   vertical-align: middle;
   background: #FFF;
   border: 1px solid #d2d2d2;
   border-radius: 100%;
}